<%- include('header', {title: `All`}); -%>
<script>
function CopyToClipboard(id)
{
var r = document.createRange();
r.selectNode(document.getElementById(id));
window.getSelection().removeAllRanges();
window.getSelection().addRange(r);
document.execCommand('copy');
window.getSelection().removeAllRanges();
}
</script>
  <body >
   <%- include('nav', locals.numVisitors); -%>
   <div class=" card-columns">
    <% locals.posts.forEach((post, index)=>{%>
        <div class="card bg-light border d-inline-block " id="item-<%=post.id%>">
          <div class="card-body">
             <%-include('image-card', post); -%>
            <div class="btn-group flex-wrap">
              <a href="/picture/<%=post.id%>"  class="btn btn-outline-secondary btn-sm stretched-link">Expand</a>
              <a href="/picture/<%=post.id%>/edit"  class="btn btn-outline-secondary btn-sm">Edit</a>
              <form
                action="/picture/<%=post.id%>/delete?_method=DELETE"
                method="POST"
                class="d-inline-block"
              >
              <input
                type="submit"
                value="Delete"
                id="delete"
                class="btn btn-outline-secondary btn-sm"style="border-radius: 0"
              />
              </form>
              </div>
            </div>
       </div>
    <% }) %>
    <% if(locals.comments){ %> 
    <% comments.forEach(comment => { %>
      <div class="text-primary">
        <h6><small>Sighting: <%=comment.sight_id%> Comment: <%=comment.comment%></small></h6>
      </div>
    <% })} %> 
  </body>
</html>
