<%- include('header', {title: title }); -%>
  <body >
    <%- include('nav'); -%> 
      <% if(locals.err){ %>  
        <div class="alert alert-danger alert-dismissible fade show"> 
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%=locals.err%></strong> 
        </div>
      <%   } %> 
    <div class=' bg-light  mt-4'>
      <main class="form-signin">
        <form action=<%=action %> method="POST">
            <%- include('login-form', {title: locals.title, username:locals.username, password:locals.password}); -%>    
        </form>
      </main>
  </body>



