<%- include('header', {title: title }); -%>
  <body>
    <%- include('nav'); -%> 
      <% if(locals.err){ %>  
        <div class="alert alert-danger alert-dismissible fade show"> 
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%=locals.err%></strong> 
        </div>
      <%   } %> 
    <div class='container col-10 bg-light border mt-4'>
      <div class="">
      <form action=<%=action %> method="POST" >
        <%- include('login-form', {username:locals.username, password:locals.password}); -%>
      </form>
      </div>
  </body>
</html>


