<%- include('header', {title: title }); -%>
  <body >
    <%- include('nav'); -%> 
      <% if(locals.err){ %>  
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong><%=locals.err%></strong> 
        </div>
      <%   } %> 
      <div class="d-flex justify-content-center">
        <div class=' bg-light col-10 col-sm-6 col-md-4 mt-4 justify-content-center'>
          <main class="form-signin">
            <form action=<%=action %> method="POST">
                <%- include('login-form', {title: locals.title, username:locals.username, password:locals.password}); -%>    
            </form>
          </main>
          
      </div>
  </body>



