<nav class="navbar navbar-expand-lg bg-dark navbar-dark border p-3" style="font-family: Ubuntu, sans-serif;">
  <a class="navbar-brand" href="/" style="color: white">
    <!-- <i class="fas fa-fill-drip rainbow-text" ></i> -->
    <i class="fas fa-broom rainbow-text"></i>
    
    Instant Hue
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Analyse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/fav">Favorites</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign up</a>
      </li>
      <li class="nav-item">
        <form
          action="/logout?_method=DELETE"
          method="POST"
          class="d-inline-block"
          id="form1"
        >
          <a
            href="javascript:;"
            onclick="document.getElementById('form1').submit();"
            class="nav-link"
            >Sign out</a
          >
        </form>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Sort
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/<%=locals.url%>?sort=hue&order=ASC"
            >Hues</a
          >
          <a class="dropdown-item" href="/<%=locals.url%>?sort=hue&order=DESC"
            >Hues reverse</a
          >
          <a
            class="dropdown-item"
            href="/<%=locals.url%>?sort=popular&order=DESC"
            >Popularity</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            href="/<%=locals.url%>?sort=dateCreated&order=DESC"
            >Freshness</a
          >
          <a
            class="dropdown-item"
            href="/<%=locals.url%>?sort=dateCreated&order=ASC"
            >Oldness</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Filter
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/?filter=analogous">Analogous</a>
          <a class="dropdown-item" href="/?filter=rectangle">Rectangle</a>
          <a class="dropdown-item" href="/?filter=tetradic">Tetradic</a>
          <a class="dropdown-item" href="/?filter=triadic">Triadic</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/?filter=complementary"
            >Complementary</a
          >
          <a class="dropdown-item" href="/?filter=split-complementary"
            >Split complementary</a
          >
          <a class="dropdown-item" href="/?filter=double-split-complementary"
            >Double split complementary</a
          >
        </div>
      </li>
      <form class="form-inline" action="/colorFilter">
        <label for="colorPicker"></label>
        <input
          class=""
          id="colorPicker"
          name="colorPicker"
          type="range"
          min="0"
          max="360"
          step="1"
          onchange="setLabelValue()"
        />
        <button
          class="btn btn-outline-secondary btn-sm ml-3 ml-lg-2"
          type="submit"
        >
          Search
        </button>
      </form>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->
  </div>
</nav>
