<%- include('header', {title: `${username}'s hues`}); -%>
<body>
  <%- include('nav', locals.numVisitors); -%>
  <div class="container-lg  px-0 mt-4">
    <div class="row col-12 mt-4 mx-auto">
      <div class=" d-flex bd-highlight mb-3">
        <h1 class="me-auto"><%=username%>'s images </h1>
        <div class="d-flex align-items-center">
          <a href="/user/<%=id%>" class="btn btn-outline-secondary btn-sm">View all</a>
        </div>
      </div>
      <%-include('pics-by-categories', {categoriesObj, enableDelete, enableExpansion}); -%>
    </div>
  </div>
</body>
