<%- include('header', {title: `All`}); -%>

<body>
  <%- include('nav', locals.numVisitors); -%>
  <div class="container-sm">
    <div class="row d-flex align-items-baseline mt-4 mx-1 mx-sm-4">
      <div class=" d-flex bd-highlight mb-3">
        <h1 class="me-auto"><%=username%>'s images </h1>
        <div class="d-flex align-items-center">
          <a href="/usercategories/<%=id%>" class="btn btn-outline-secondary btn-sm">View by categories</a>
        </div>
      </div>
      <% locals.posts.forEach((post, index)=>{%>
        <div class="col-12 col-lg-6 col-xl-4 mb-4 ">
          <%-include('image-card', post, enableDelete); -%>
        </div>    
    <% }) %>
  </div>
</body>
